* {
    margin: 0px;

    /* border: border-box; */
}

/* NavBar */
.head {
    height: 60px;
    background: var(--background, #2B2B2B);
    display: flex;
    justify-content: space-between;
}

.market {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#h4 {
    color: #FFF;
}

.head-h {
    display: flex;
    gap: 50px;
    color: #FFFFFF;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
}

.head-h5 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */

}

.material-symbols-outlined {
    color: #A259FF;
}

.nav-btn {
    width: 152px;
    background-color: #A259FF;
    height: 60px;
    border-radius: 20px;
    padding: 0px;
    border: 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

#store-icion {
    color: #A259FF;
}

/* Hero Section */
.hero-sec {
    display: flex;
    height: 564px;
    padding: 80px 150px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: var(--background, #2B2B2B);
}

.hero-text {
    width: 510px;
    /* height: 574px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 80px;

}

.hero-h1 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
}

.hero-p {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.hero-btn {
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #FFFFFF;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border: 0px;
}

.trending-text {
    margin-bottom: 60px
}

.material-symbols-outlined {
    color: #FFFFFF;
}

.highlited-nft {
    height: 400px;
}

.additional-info {
    display: flex;
    gap: 70px;
}

.info-h3 {
    color: #FFF;


    font-family: Space Mono;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.info-p {
    align-self: stretch;
    color: #FFF;
    font-size: 23.99px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.hero-pic {
    width: 510px;
    height: 510px;

}

#png1 {
    height: 400px;
    width: 510px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.highlited-box {
    display: flex;
    height: 109px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0px 0px 20px 20px;
    background: var(--background-secondary, #3B3B3B);
}

.h-box-p {
    color: #FFF;


    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    text-transform: capitalize;
}

.h-box2 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.h-box-p2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.user{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 10px
}
.user p{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}

/* Trending */
.trending {
    background: #2B2B2B;
    height: 676px;
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    padding-bottom: 0px;
}

.trending-box {
    /* margin-top: 80px;
    background: #2B2B2B; */
    width: 1050px;

}

.trending-text-m {
    color: var(--white, #FFF);

    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.trending-text-2 {
    color: var(--white, #FFF);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.collection-card {
    width: 1050px;
    height: 525px;
    display: flex;
    width: 1050px;
    align-items: flex-start;
    gap: 30px;

}

.collection-cards {
    width: 330px;
    height: 445px;

}

.cards-img {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.cards-img-btn {
    border: 0px;
    display: flex;
    height: 100px;
    padding: 32px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.collection-card-t1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-top: 15px;


}

/* Top Artist */
.top-artist {
    width: auto;
    height: 925px;
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    background: #2B2B2B;
}

/* .artist-heading{
    display: flex;
width: 1050px;
align-items: flex-end;
gap: 100px;
} */
.artist-heading-p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.artist-heading-p1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.artist-heading {
    display: flex;
    gap: 204px;
    align-items: end;
}

.artist-main-btn {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #A259FF;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: #2B2B2B;
}

#btn-m {
    color: #A259FF !important;
}

.cards-row {
    width: 1050px;
    /* height: 774px; */
    /* background-color: #A259FF; */
}

.artist-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.artist-cards1 {
    width: 240px;
    height: 238px;
    background-color: #3B3B3B;
    margin-bottom: 15px;
    margin-top: 15px;
    /* margin-right: 55%;
    margin-top: 10px; */
    border-radius: 20px;
}

.artist-cards1-t {
    position: relative;
    left: 10px;
    top: 4px;
    color: #858584;


    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

.artist-card-img {
    margin-top: 10px;
    margin-left: 25%;
}

.num {
    justify-content: center;
    display: flex;
    width: 30px;
    align-items: center;
    border-radius: 20px;
    background: #2B2B2B;
    margin-top: 10px;
    margin-left: 10px;
    color: #858584;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.artist-cards1t2 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.artist-sales {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.total-sale {
    width: 95px;
    height: 22px;
    color: #858584;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.eth {
    width: 95px;
    height: 22px;
    color: #FFF;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.more-nft {
    width: auto;
    height: 780px;
    background-color: #2B2B2B;
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.first-more-nft {
    justify-content: space-between;
    display: flex;
    width: 1050px;
    height: 91px;
    align-items: end;
}

.nft-h1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.nft-h2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.nft-btn {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: #2B2B2B;
    border: 2px solid #A259FF;

}

#nft-eye {
    color: #A259FF;
}

.nft-card-row {
    display: flex;
    width: 1050px;
    height: 469px;
    align-items: flex-start;
    gap: 30px;
}

.nft-cards {
    display: flex;
    width: 330px;
    height: 469px;
    flex-direction: column;
    align-items: center;
    /* background-color: #fff; */
}

.nft-card-last {
    width: 270px;
    height: 173px;
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    background-color: #3B3B3B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nft-last-p1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.nft-last-artist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.nft-last-p2 {
    color: #FFF;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.price-card {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 114px;
    height: 43px
}

.price-card-one {
    color: #858584;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.price-card-two {
    color: #FFF;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.high-bid {
    color: #858584;
    text-align: right;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.high-bid-price {
    color: #FFF;
    text-align: right;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.bids-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 40px;

}

.categories {
    width: 1069px;
    height: 768px;
    display: flex;
    padding: 80px 140px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background: #2B2B2B;
}

.cate-p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.categories-h {
    margin-right: 66%
}

.categories-card-row1 {
    width: 1050px;
    height: 316px;
    display: flex;
    align-items: flex-start;
    gap: 30px;

}

.category-card {
    width: 240px;
    height: 316px;
    /* background: white; */
}

.collection-name {
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    background: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #3B3B3B;
}

.collection-name-p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

/* nft-highlight */
.nft-highlight {
    width: auto;
    height: 620px;
    background-image: radial-gradient(rgba(162, 89, 255, 0.00) 0%, #A259FF 100%), url(./nft-highlit\ \(2\).png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}




.frame {
    display: flex;
    width: 1050px;
    height: 240px;
    justify-content: space-around;
    align-items: flex-end;
    /* background-color: #fff; */
    margin-bottom: 20px;

}

.frame-box1 button {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 0px;
    background-color: rgba(59, 59, 59, 1);
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.frame-box2 h2 {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
}

.frame-box3 button {
    color: #2B2B2B;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    height: 60px;
    padding: 22px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    border: 0px;
}
.nft-art1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nft-art2 {
    height: 87px;
    display: flex;
    width: 235px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}

.nft-art2 p {
    color: #FFF;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.time {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.time h3 {
    color: #FFF;
    font-family: Space Mono;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.time h4 {
    color: #FFF;
    font-family: Space Mono;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.time p {
    color: #FFF;
    font-family: Space Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.how-work {
    width: 1060px;
    height: 578px;
    display: flex;
    padding: 80px 144px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    background: #2B2B2B;
}

.work-heading {
    margin-right: 70%;
}

.work-heading-p1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.work-heading-p2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.info-card-nft {
    width: 1050px;
    height: 439px;
    display: flex;
    gap: 30px;

}

.info-card1 {
    width: 330px;
    height: 413px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    width: 330px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-card-h {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.info-card2 {
    width: 270px;
    height: 413px;
    border-radius: 20px;
    background-color: #3B3B3B;
    display: flex;
    width: 330px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.work-heading-p3 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.subsribe {
    background-color: #2B2B2B;
    height: 430px;
    display: flex;
    padding: 40px 195px 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.widget {
    height: 310px;
    display: flex;
    width: 930px;
    padding: 60px;
    align-items: center;
    gap: 80px;
    background: #3B3B3B;
    border-radius: 20px;
}

.widget1 {
    width: 425px;
    height: 272px;
}

.widjet1-p1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.widjet1-p2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.subsribe-form {
    width: 408px;
    border-radius: 20px;
    background: #FFF;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    height: 28px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    justify-content: space-between;

}

#plc {
    border: 0px;
    color: #2B2B2B;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.sub-btn {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #A259FF;
    border: 0px;

}

.footer {
    width: 1069px;
    height: 254px;
    display: flex;
    padding: 40px 140px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: #3B3B3B;

}

.footer-info {
    display: flex;
    align-items: flex-start;
    gap: 31px;
    width: 1049px;
    height: 191px;
}

.nft-m-info {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 84px;
}

.market-info-p1 {
    width: 238px;
    color: #CCC;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

.comminty {
    color: #CCC;
    width: 238px;
    height: 18px;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.svg-icon {
    display: flex;
    gap: 10px;
}

#icon-img {
    width: 168px;
    height: 32px;

}

.explore {
    height: 166px;
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.explore-p1 {
    color: #FFF;
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.explore-p2 {
    color: #CCC;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.subscribe-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 420px;
    height: 184px;
}

.subscribe-sub-p {
    color: #FFF;
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.subscribe-sub-p2 {
    color: #CCC;
    width: 330px;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.sub-btn1 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #A259FF;
    border: 0px;
}

.hr {
    width: 1049.414px;
    height: 1px;
    background: #858584;
    border: 1px solid #858584;
}

.last-p {
    color: #CCCCCC;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-right: 73%;
}

#foter-logo {
    margin-left: 0px;
}